<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuideMe - Приветственное окно</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    <div class="welcome-modal">
        <div class="welcome-content">
            <h1>Добро пожаловать в GuideMe!</h1>
            <p>Ваш интерактивный гид по музеям. Исследуйте искусство и историю с помощью наших уникальных функций.</p>
            <button class="start-button">Начать</button>
            <button class="close-button">Закрыть</button>
        </div>
    </div>
</body>
</html>