<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuideMe - Главная страница</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
        <img src="../static/images/header_image.jpg" alt="Заголовок" class="header-image"> <!-- Замените на ваше изображение -->
    </header>
    <main class="main-content">
        <div class="button-container">
            <a href="nav.html" class="nav-button">Навигатор</a>
            <button class="nav-button">FAQ</button>
            <button class="nav-button">Вопрос AI</button>
            <button class="nav-button">Записаться на экскурсию</button>
            <button class="nav-button">Оставить отзыв</button>
        </div>
    </main>

    <footer class="footer">
        <p>Все права защищены &copy; 2023 GuideMe</p>
    </footer>
</body>
</html>