<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuideMe - Приветственное окно</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <header class="header">
        <img src="../static/images/header_image.jpg" alt="Заголовок" class="header-image">
    </header>
    
    <div class="content">
        <div class="button-container">
            <button class="nav-button">Навигатор</button>
            <button class="nav-button">FAQ</button>
            <button class="nav-button">Вопрос AI</button>
            <button class="nav-button">Записаться на экскурсию</button>
            <button class="nav-button">Оставить отзыв</button>
        </div>
    </div>
</body>
</html>