/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стили для заголовка */
.header {
    position: relative;
    text-align: center;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.header-image {
    display: block;
    width: 100%;
    height: auto;
    max-height: 400px; /* Ограничение максимальной высоты */
    object-fit: cover; /* Обеспечивает обрезку изображения */
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Стили для основного контента */
.main-content {
    background-color: #3c3230; /* Цвет основного блока */
    padding: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button {
    background-color: #6a513b; /* Цвет кнопок */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 80%; /* Ширина кнопок */
}

.nav-button:hover {
    background-color: #0056b3; /* Цвет кнопок при наведении */
}

/* Стили для футера */
.footer {
    background-color: #333; /* Цвет футера */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}